
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');


@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");


body {

font-family: 'IBM Plex Sans Arabic', sans-serif;
font-size: 20px;
background-color: #ddb892;
margin: 0px auto;
}

h1,h2,h3, {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;

}
p {
	color: white;
	font-family: 'Cabin', sans-serif ;
}

a {
	text-decoration: none;

	}
	#register-section
	{
		text-align: center;
		margin: 0 auto;
	}